<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/32835b108c.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/lotoclub.css" />
    <title>Lotoklub#1</title>
  </head>
  <body>
    <header>
      <div id="logo"><a href="/">Lotoklub#1</a></div>
      <div id="menu">
        <a href="login"><i class="fas fa-user-ninja"></i></a>
        <a href="register"><i class="fas fa-user-plus"></i></a>
        <a href="#"><i id="nav-btn" class="fas fa-bars"></i></a>
      </div>
    </header>
  </body>
</html>
