
:root {
  --imperial-red: #e63946ff;
  --honeydew: #f1faeeff;
  --powder-blue: #a8dadcff;
  --celadon-blue: #457b9dff;
  --prussian-blue: #1d3557ff;
}


body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--prussian-blue);
}

header {
  display: flex;
  justify-content: space-between;
  height: 3rem;
  padding: 8px;
  background-color: var(--celadon-blue);
  font-size: 1.3rem;
  color: white;
}

i {
  margin: 0 5px;
  font-size: 1.5rem;  
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: calc(100vh - 3rem);
  padding: 10px;
  background: linear-gradient(rgba(255, 255, 255, 0.7),
                              rgba(255, 255, 255, 0.7)),
                              url("https://img.maximummedia.ie/joe_ie/eyJkYXRhIjoie1widXJsXCI6XCJodHRwOlxcXC9cXFwvbWVkaWEtam9lLm1heGltdW1tZWRpYS5pZS5zMy5hbWF6b25hd3MuY29tXFxcL3dwLWNvbnRlbnRcXFwvdXBsb2Fkc1xcXC8yMDE5XFxcLzEwXFxcLzMxMTQ0MDM5XFxcL2xvdHRlcnkuanBnXCIsXCJ3aWR0aFwiOjY0MCxcImhlaWdodFwiOjM2MCxcImRlZmF1bHRcIjpcImh0dHBzOlxcXC9cXFwvd3d3LmpvZS5pZVxcXC9hc3NldHNcXFwvaW1hZ2VzXFxcL2pvZVxcXC9uby1pbWFnZS5wbmc_aWQ9NDNiY2E5ZGU3ZWIyNjk3MzdhMGZcIixcIm9wdGlvbnNcIjpbXX0iLCJoYXNoIjoiNTJlNjgyMzg5NmRmZTNiZTJmMTJmNGQyYTMzMjg4YzI4NDY2OWQzNyJ9/lottery.jpg");
  background-size: cover;
}

.hero {
  max-width:30rem;
  padding: 1rem;
  border-radius: 8px;;
  background-color: #457b9dcc;
  text-align: center;
  color: white;
}

.hero h1 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

.hero p {
  font-size: 1.1rem;
  line-height: 1.7;
  font-style: oblique;
}

i.fa-handshake,
i.fa-hand-holding-usd,
i.fa-dice-d20 {
  font-size: 3rem;
  /* color: var(--celadon-blue); */
  color: #457b9dcc;
}

/********** Login and register forms *********************/
form {
  max-width: 400px;
  /* align-self: stretch; */
  /* margin: 0 auto; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  padding: 10px;
}

input {
  display: block;
  height: 2.5rem;
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid var(--celadon-blue);
  border-radius: 5px;
  background-color: white;
  font-size: 1.2rem;
}

button {
  height: 2.5rem;
  width: 100%;
  margin-top: 1rem;
  border: 2px solid var(--celadon-blue);
  border-radius: 5px;
  background-color: var(--powder-blue);
  font-size: 1.1rem;
}

button:hover {
  border: 2px solid var(--powder-blue);
  background-color: var(--celadon-blue);
  color: white;
}

/**************** Navbar ***********************/
nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  padding: 10px;
  background-color: var(--prussian-blue);
  color: white;
  transition: 0.4s;
}

nav.hidden {
  right: -200px;
}

nav ul {
  margin-top: 1rem;
}

nav li {
  margin: 8px 0;
  font-size: 1.3rem;
  transition: 0.4s;
}

nav li:hover {
  padding-left: 5px;
}

.active {
  color: var(--celadon-blue);
}

/**************** Combinations *********************/
.combinations-container {
  width: 100%;
  min-width: 300px;
  max-width: 400px;
}
.combination {
  margin: 5px 0;
  border-radius: 5px;
  background-color: var(--powder-blue);
}

.combination-heading {
  padding: 0 5px;
  font-size: 0.8rem;
}

.combination-numbers {
  display: flex;
  border: 2px solid var(--celadon-blue);
}

.combination-numbers.editing {
  border: 2px solid var(--imperial-red);
}

.number {
  flex: 1 100px;
  margin: 5px;
  background-color: white;
  text-align: center;
  font-size: 1.5rem;
}

/********** MyCombinations ********************/
.tab-names {
  display: flex;
  justify-content: space-around;
}

button.tab-selector {
  flex: 1 100px;
  border: none;
  border-radius: 5px 5px 0 0;
  font-size: 1.1rem;
  background-color: #a8dadc66;
  text-align: center;
}

.tab-selector.selected {
  background-color: var(--powder-blue);
}

#info {
  height: 1rem;
  font-size: 0.8rem;
  color: var(--imperial-red);
}

#info.hidden {
  display: none;
}

.tab {
  padding: 5px;
  border-radius: 0 0 5px 5px;
  background-color: var(--powder-blue);
}

.tab .combination-numbers {
  border-radius: 5px;
  background-color: var(--celadon-blue);
}

.numbers-table {
  display: flex;
  padding: 10px;
  background-color: var(--powder-blue);
}

.column {
  flex-grow: 1;
}

.column.euro {
  margin-left: 10px;
}

.number.selected {
  color: red;
  background-color: var(--powder-blue);
}